html,
body {
	margin: 0;
	padding: 0;
}

body {
	background: #f5f5f5;
	color: #4d4d4d;
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.4em;
	margin: 0 auto;
	max-width: 550px;
	min-width: 230px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.todoapp {
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
	margin: 130px 0 40px 0;
	position: relative;
}

.todoapp h1 {
	color: rgba(175, 47, 47, 0.15);
	font-size: 7.5rem;
	font-weight: 100;
	position: absolute;
	text-align: center;
	top: -80px;
	width: 100%;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.new-todo {
	display: flex;
	flex-direction: row;
}

.todoapp input::-webkit-input-placeholder {
	color: #e6e6e6;
	font-style: italic;
	font-weight: 300;
}

.todoapp input::-moz-placeholder {
	color: #e6e6e6;
	font-style: italic;
	font-weight: 300;
}

.todoapp input::input-placeholder {
	color: #e6e6e6;
	font-style: italic;
	font-weight: 300;
}

#todo-input {
	color: inherit;
	background: rgba(0, 0, 0, 0.003);
	border: none;
	border-bottom: 1px solid #ededed;
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	display: block;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: inherit;
	margin: 0;
	outline: none;
	padding: 15px 110px 15px 45px;
	position: relative;
	transition: color 0.4s;
	white-space: pre-line;
	width: calc(100% - 175px);
	word-break: break-all;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

.new-todo button {
	background: #d6d6d6;
	border: 0;
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
	color: inherit;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	margin: 0;
	padding: 15px 18px 15px 15px;
	vertical-align: baseline;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

li {
	font-size: 1.5rem;
	padding: 15px;
}

.list {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
  padding: 0;
}

.list .list-item {
	align-items: center;
	border-bottom: 1px solid #ecf0f1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0;
	overflow: hidden;
	position: relative;
	padding: 0;
	text-overflow: ellipsis;
	text-transform: lowercase;
	white-space: nowrap;
}

.list .list-item:last-child {
  border: 0;
}

.checkbox {
	appearance: none;
	left: -9999px;
	opacity: 0;
	position: absolute;
	top: -9999px;
}

.checkbox:checked + .check--label .check--label-box {
	background-color: #3498db;
}

.checkbox:checked + .check--label .check--label-box:after {
	border: solid #000;
	border-width: 0 2px 2px 0;
	content: '';
	display: block;
	height: 16px;
	left: 6px;
	position: absolute;
	top: -2px;
	transform: rotate(45deg);
	width: 7px;
}

.checkbox:checked + .check--label .check--label-text:after {
	width: 95%;
}

.check--label {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	font-size: 1.5rem;
	justify-content: flex-start;
	margin: 0;
}

.check--label-box {
	align-self: center;
	border: 2px solid #3498db;
	border-radius: 2px;
	cursor: pointer;
	display: flex;
	height: 20px;
	margin: 0 20px;
	position: relative;
	width: 20px;
}

.check--label-text {
	align-self: center;
	border-left: 1px solid #ecf0f1;
	cursor: pointer;
	display: flex;
	padding: 20px;
	position: relative;
}

.check--label-text:after {
	background-color: #000;
	content: '';
	display: block;
	height: 2px;
	left: 10px;
	right: 20px;
	position: absolute;
	top: 50%;
	transition: width 100ms ease-in-out;
	width: 0%;
}

.deleteButton {
	background-color: inherit;
	border: none;
	cursor: pointer;
	display: inline-block;
	font-size: 1.5rem;
	margin-left: -2em;
	opacity: 1;
	outline: none;
	padding: 15px 24px;
	text-align: center;
	text-decoration: none;
}

.deleteButton:hover {
	color: #af5b5e;
	font-weight: bold;
}

footer {
	background: #fafafa;
	border: 1px solid #eaeaea;
	line-height: 18px;
	padding: 15px;
}

footer p {
	margin-bottom: 0;
	margin-top: 0;
}
